.baner {
    padding-top: 0;
    padding-bottom: 0;

    .container {
        position: relative;

        .flower {
            position: absolute;
            left: -150px;
            top: 0;
            z-index: 0;
        }
    }

    &-slide {
        padding: 12px;
        padding-bottom: 40px;

        @media(max-width: 767px) {
            padding-bottom: 10px;
        }

        &__subtitle {
            font-size: 30px;
            line-height: 40px;
            color: $brown-color;
            position: relative;
            bottom: 18px;
            left: 25px;
            background-color: #231F20;
            padding-left: 5px;
            padding-right: 5px;

            @media(max-width: 991px) {
                font-size: 16px;
                line-height: 32px;
            }
        }

        &__content {
            max-width: 600px;
            position: relative;
            z-index: 1;
            padding-top: 50px;
            padding-bottom: 22px;
            min-width: 600px;

            @media(max-width: 991px) {
                min-width: unset;
                padding-top: 25px;
                padding-bottom: 20px;
                padding-bottom: 0;
            }

            .btn {
                @media(max-width: 1500px) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        &__title {
            background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(rgba(255, 255, 255, 0.21)));
            background: -o-linear-gradient(top, #FFF 0%, rgba(255, 255, 255, 0.21) 100%);
            background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.21) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 67px;
            font-weight: 600;
            line-height: 67px;
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 2px;

            @media(max-width: 991px) {
                font-size: 29px;
                line-height: 32px;
            }

            @media(max-width: 767px) {
                font-size: 24px;
            }
        }

        &__round {
            height: auto;
            width: 100%;
            position: relative;

            @media(max-width: 1500px) {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                height: 59vw;
                width: 100%;
            }

            &::before {
                content: '';
                width: calc(100% + 35px);
                height: calc(100% + 25px);
                position: absolute;
                left: -40px;
                top: -13px;
                background: url('@img/baner/baner-round.png') no-repeat center center / contain;

                @media(max-width: 1500px) {
                    background: url('@img/baner/baner-round-sm.svg') no-repeat center bottom / contain;
                    width: calc(100% + 16px);
                    height: calc(100% + 8px);
                    left: -5px;
                    top: unset;
                    bottom: 0;
                }
            }

            img {
                top: -18px;
                height: calc(100% + 34px);
                position: relative;
                -o-object-fit: cover;
                object-fit: cover;
                -webkit-mask-image: url('@img/baner/border-img.svg');
                mask-image: url('@img/baner/border-img.svg');
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                -webkit-mask-position: center;

                @media(max-width: 1500px) {
                    -webkit-mask-image: url('@img/baner/border-img-sm.svg');
                    mask-image: url('@img/baner/border-img-sm.svg');
                    top: 13px;
                    -webkit-mask-position: bottom;
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    height: 100%;
                }
            }
        }

        &__descr {
            color: $gray-color;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.917px;
            position: relative;
            top: 15px;
            left: 38px;
            background-color: #231F20;
            padding-left: 3px;
            padding-right: 3px;

            @media(max-width: 991px) {
                font-size: 14px;
                line-height: 20px;
                display: block;
                left: 10px;
                top: 10px;
            }
        }

        &__inner {
            -webkit-box-shadow: 0px 21px 16px 0px rgba(158, 166, 179, 0.16);
            box-shadow: 0px 21px 16px 0px rgba(158, 166, 179, 0.16);
            border: 12px solid #fff;
            background-color: #231F20;
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-column-gap: 50px;
            -moz-column-gap: 50px;
            column-gap: 50px;
            padding-left: 65px;
            height: 370px;

            @media(max-width: 1500px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                padding-right: 50px;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            @media(max-width: 991px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &__img {
            position: absolute;
            right: 0;
            top: -12px;
            width: 100%;
            height: calc(100% + 24px);
            object-fit: cover;
            object-position: right;
        }

        &__border {
            margin-bottom: 30px;
            border: 0.958px solid #9F694F;
            padding-left: 20px;
            padding-right: 30px;

            @media(max-width: 991px) {
                padding-left: 12px;
                margin-bottom: 10px;
                padding-right: 20px;
            }
        }
    }

    .nav-arrow--prev {
        @media(max-width: 1700px) {
            left: -8px;
        }

        @media(max-width: 767px) {
            left: -5px;
        }
    }

    .nav-arrow--next {
        @media(max-width: 1700px) {
            right: -12px;
        }

        @media(max-width: 767px) {
            right: -5px;
        }
    }
}