// btn

.btn {
    border-radius: 60px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: fit-content;
    padding-left: 32px;
    padding-right: 24px;
    column-gap: 22px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    transition: color .2s linear, background-color .2s linear;

    @media(max-width: 1199px) {
        height: 75px;
    }

    @media(max-width: 767px) {
        column-gap: 10px;
        font-size: 13px;
        line-height: normal;
        // padding-left: 18px;
        // padding-right: 13px;
        // height: 54px;
    }

    .btn-arrow {
        width: 14px;
        height: 41px;
        fill: #fff;
        border-radius: 50%;

        &-wrapper {
            background: rgba(255, 255, 255, 0.10);
            width: 41px;
            height: 41px;
            min-width: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background-color .2s linear;

            @media(max-width: 767px) {
                width: 31px;
                height: 31px;
                min-width: 31px;
            }

        }
    }

    &--dark {
        background: linear-gradient(93deg, #191919 6.67%, #57565C 68.53%, #191919 94.65%), #191919;
        transition: background .2s linear;

        span {
            transition: color .2s linear;

            @media(max-width: 767px) {
                font-size: 12px;
                min-width: 147px;
                text-align: start;
            }
        }

        &:hover {
            .btn-arrow-wrapper {
                background-color: #fff;
            }

            .btn-arrow {
                fill: #191919;
            }
        }

        &:focus {
            .btn-arrow-wrapper {
                background-color: #9EA6B3;

            }

            span {
                color: $gray-color;
            }
        }
    }

    &--brown {
        color: $brown-color;
        border: 1px solid $brown-color;
        column-gap: 52px;
        padding-left: 52px;

        &:hover {
            background-color: $brown-color;
            color: #fff;

            .btn-arrow-wrapper {
                background-color: #fff;
            }
        }

        &:focus {
            background-color: #8D5940;
            color: #fff;
        }

        .btn-arrow-wrapper {
            background-color: rgba(208, 181, 169, 0.26);
        }

        .btn-arrow {
            fill: #D0B5A9;
        }
    }

    &--link {
        padding-left: 0;
        padding-right: 0;

        span {
            text-transform: uppercase;
            font-weight: 200;
        }
    }

    &--bg-brown {
        background: linear-gradient(93deg, #9F694F 41.93%, #D3A38C 73.13%, #9F694F 94.65%), linear-gradient(93deg, #191919 6.67%, #57565C 68.53%, #191919 94.65%), #191919;

        &:hover {
            .btn-arrow-wrapper {
                background-color: #fff;
            }

            .btn-arrow {
                fill: $brown-color;
            }
        }
    }

    &--short {
        border-radius: 80px 80px 62px 2px;
        border: 1px solid #9F694F;
        background: #9F694F;
        box-shadow: 0px 17px 28px 0px rgba(159, 105, 79, 0.53);
        width: 127px;
        padding-top: 55px;
        padding-bottom: 28px;
        padding-right: 13px;
        padding-left: 13px;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        row-gap: 26px;
        position: relative;
        transition: box-shadow .2s linear;
        z-index: 2;

        &::before {
            border-radius: 80px 80px 62px 2px;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(149deg, #9F694F 15.14%, #D3A38C 44.54%, #9F694F 82.72%), #9F694F;
            opacity: 0;
            transition: opacity .2s linear;
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .btn-arrow-wrapper {
                background-color: #fff;
            }

            .btn-arrow {
                fill: $brown-color;
            }
        }

        &__text {
            color: #FFF;
            text-align: center;
            font-size: 15px;
            font-weight: 200;
            line-height: 24px;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
        }

        .btn-arrow {
            width: 14px;
            height: 41px;
            fill: #fff;
            border-radius: 50%;

            &-wrapper {
                background: rgba(255, 255, 255, 0.10);
                width: 41px;
                height: 41px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: background-color .2s linear;
                z-index: 1;

            }
        }
    }

    &--gray {
        border: 1px solid var(--text-light-grey, #9EA6B3);
        padding-left: 40px;
        @media(max-width: 767px){
            padding-left: 18px;
        }

        &:hover {
            .btn-arrow-wrapper {
                background-color: #fff;
            }

            .btn-arrow {
                fill: $brown-color;
            }
        }
    }
    &--sm {
        @media(max-width: 767px){
            height: 55px;
        }
    }

    &__text {
        @media(max-width: 991px) {
            text-align: start;
            font-size: 15px;
            line-height: normal;
        }

        &--sm {
            font-size: 16px;
            color: #DAD2C5;
            text-transform: lowercase;

            @media(max-width: 991px) {
                font-size: 12px;
            }
        }

        &--lg {
            font-size: 18px;
            line-height: 18px;
            color: #FFF;
            text-transform: uppercase;

            @media(max-width: 991px) {
                font-size: 15px;
                line-height: normal;
            }
        }
    }

}

.header__btn-catalog {
    border: 0.5px solid #ffffff21;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
    height: 88px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 25px;
    cursor: pointer;

    @media(max-width: 1199px) {
        height: 47px;
        width: 47px;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        .hamburger .top-bun {
            width: 100%;
        }

        .hamburger .meat {
            width: 80%;
        }

        .hamburger .bottom-bun {
            width: 100%;
        }
    }
}

.form-btn {
    height: 100px;
    width: 100%;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 27px;

    @media(max-width: 991px) {
        height: 80px;
        padding-left: 39px;
    }
}

.reviews-star__btn {
    position: absolute;
    right: 0;
    bottom: 80px;

    @media(max-width: 1400px) {
        bottom: 150px;
    }
}

.loadmore {
    height: 90px;
    border-radius: 60px;
    border: 1px solid #9F694F;
    background: #FFF;
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @media(max-width: 767px){
        height: 70px;
    }

    span {
        color: #9F694F;
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
        text-transform: uppercase;
        svg {
            @media(max-width: 767px){
                width: 32px;
                height: 32px;
            }
        }
        @media(max-width: 767px){
            font-size: 16px;
        }
    }
}

.contacts-page__btn {
    position: relative;
    right: 20px;
    top: -169px;
    row-gap: 9px;
    padding-top: 23px;
    @media(max-width: 1300px){
        display: none;
    }
}

.team-page__item-bottom-wrapper {
    .btn-arrow {
        width: 14px;
        height: 41px;
        fill: #fff;
        border-radius: 50%;

        &-wrapper {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.10);
            width: 41px;
            height: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background-color .2s linear;
            @media(max-width: 575px){
                height: 32px;
                width: 32px;
            }
        }
    }
}

.accord-head__btn {
    column-gap: 15px;
    height: 70px;
    padding-left: 34px;
    padding-right: 15px;
    font-size: 16px;
    @media(max-width: 767px){
        display: none;
    }
}

.reviews-star-btn {
    color: #fff;
    position: relative;
    z-index: 1;
    display: flex;

    .btn-arrow {
        width: 14px;
        height: 41px;
        fill: #fff;
        border-radius: 50%;

        &-wrapper {
            background: rgba(255, 255, 255, 0.10);
            width: 41px;
            height: 41px;
            min-width: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background-color .2s linear;

            @media(max-width: 767px) {
                width: 31px;
                height: 31px;
                min-width: 31px;
            }
        }
    }
}

.btn--brown-sm {
    border-radius: 1px 40px 40px 40px;
    border: 0.521px solid #9F694F;
    background: #9F694F;
    box-shadow: 0px 17px 28px 0px rgba(159, 105, 79, 0.28);
    position: relative;
    z-index: 1;
    column-gap: 35px;
    font-size: 16px;

    @media(max-width: 575px) {
        width: 100%;
    }
}

.reviews-star-btn--sm {
    margin-top: 30px;
    // justify-content: flex-end;
}
.error-404__link {
    @media(max-width: 450px){
        width: 100%;
    }
    span {
        @media(max-width: 991px){
            font-size: 16px;
        }
    }
}

.care__btn-video {
    @media(max-width: 991px){
        min-width: 105px;
        width: 105px;
        position: absolute;
    }
}
.prices__loadmore {
    margin-top: 40px;
    margin-bottom: 30px;
    display: none;
    @media(max-width: 991px){
        display: flex;
    }
}
.reviews-page__btn--sm {
    margin-bottom: 40px;  
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    @media(max-width: 575px){
        justify-content: flex-end;
    }
}

.btn-rounded {
    display: flex;
    column-gap: 8px;
    align-items: center;
    position: relative;
    padding-left: 25px;
    padding-right: 35px;
    height: 100px; 

    @media(max-width: 991px) {
        padding-left: 15px;
        padding-right: 5px;
        height: 60px;
        column-gap: 4px;
    }

    &:hover {
        &:before {
            width: 100%;
        }

        &:after {
            width: 100%;
        }
    }

    &:focus {
        .btn-rounded__name {
            color: $brown-color;
        }

        // .static-social {
        //     display: none;
        //     // opacity: 0;
        //     // animation: shows .3s;
        // }

        // .focus-social {
        //     display: block;
        //     opacity: 1;
        //     animation: shows .3s;
        // }

        &:after {
            background: -webkit-gradient(linear, left top, right top, from(rgba(159, 105, 79, 1)), to(rgba(159, 105, 79, 1)));
            background: -o-linear-gradient(left, rgba(159, 105, 79, 1) 0%, rgba(159, 105, 79, 1) 100%);
            background: linear-gradient(90deg, rgba(159, 105, 79, 1) 0%, rgba(159, 105, 79, 1) 100%);

        }
    }


    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        background: #2B2829;
        border-radius: 60px;
        z-index: -1;
        transition: width .2s linear;

        @media(max-width: 991px) {
            z-index: 2;
            width: 60px;
            height: 60px;
        }
    }

    &::after {
        content: '';
        width: 102px;
        position: absolute;
        left: -1px;
        top: -1px;
        height: 102px;
        border-radius: 60px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(158, 166, 179, 1)), to(rgba(158, 166, 179, 0)));
        background: -o-linear-gradient(left, rgba(158, 166, 179, 1) 0%, rgba(158, 166, 179, 0) 100%);
        background: linear-gradient(90deg, rgba(158, 166, 179, 1) 0%, rgba(158, 166, 179, 0) 100%);
        z-index: -2;
        transition: width .2s linear;

        @media(max-width: 991px) {
            z-index: 0;
            height: 61px;
            width: 61px;
        }
    }
    &--line {
        height: 89px;
        padding-left: 19px;
        @media(max-width: 1199px){
            width: 75px;
            height: 75px;
        }
        .btn-rounded__img {
            min-width: 49px;
            @media(max-width: 1199px){
                min-width: 42px;
            }        
            @media(max-width: 991px){
                min-width: 46px;
            }
            @media(max-width: 767px){
                min-width: 42px;
            }
        }
        .btn-rounded__name {
            @media(max-width: 991px){
                text-transform: uppercase;
                font-size: 18px;
                display: flex;
                align-items: center;
                column-gap: 5px;
            }
            span {
                @media(max-width: 991px){
                    font-size: 18px;
                }
            }
        }
        .static-social {
            @media(max-width: 991px){
              min-width: 42px;
            }
        }
        
        @media(max-width: 991px){
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-right: 19px;
            padding-left: 33px;
        }
        &::before {
            width: 87px;
            height: 87px;
            top: 0px;
            left: 0;
            @media(max-width: 1199px){
                width: 73px;
                height: 73px;
            }
            @media(max-width: 991px){
                width: 100%;
            }
        }
        &::after {
            width: 89px;
            height: 89px;
            @media(max-width: 1199px){
                width: 75px;
                height: 75px;
            }
            @media(max-width: 991px){
                width: 100%;
            }
        }
    }
    &--sm {
        height: 89px;
        padding-left: 20px;
        @media(max-width: 991px){
            height: 64px;
            padding-left: 15px;
        }
       
       &::before {
            height: 87px;
            width: 89px;        
            @media(max-width: 991px){
                width: 64px;
                height: 62px;
            }    
        }
        &::after {
            height: 89px;
            width: 89px;
            @media(max-width: 991px){
                width: 64px;
                height: 64px;
            }   
        }
    }
    &--transparent {
        &::before {
            background: #6F6D70;
            @media(max-width: 767px){
                background: #433E40;
            }
        }
    }


    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;

        @media(max-width: 991px) {
            z-index: 2;
            width: 32px;
        }

        .static-social {
            animation: shows .3s;
        }

        .focus-social {
            display: none;
            animation: shows .3s;
            opacity: 0;
        }
    }

    &__name {
        font-size: 12px;
        line-height: normal;
        color: #9EA6B3;
        transition: color .2s linear;
        text-align: start;

        @media(max-width: 991px) {
            z-index: 2;
        }

        span {
            display: block;
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;

            @media(max-width: 991px) {
                font-size: 16px;
            }
        }
    }
}