.department {
    position: relative;

    .tabs {
        position: relative;
        z-index: 1;
    }

    .section-title {
        max-width: 1115px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-arrow {
        @media(max-width: 991px) {
            top: 240px;
        }

        &--next {
            @media(max-width: 991px) {
               
            }
        }
    }


    .count-number {
        text-align: end;
        font-size: 86px;
        font-weight: 400;
        line-height: 70px;
        position: absolute;
        top: 92px;
        right: 15px;
        z-index: 1;
        font-family: $font-family-lighthouse;
        color: #9EA6B3;

        @media(max-width: 991px) {
            font-size: 46px;
            line-height: 46px;
            top: 105px;
        }


        span {
            font-size: 20px;
            line-height: 20px;
            color: rgba(158, 166, 179, 0.76);
            position: absolute;
            top: 0;
            right: -11px;

            @media(max-width: 991px) {
                font-size: 14px;
                line-height: 20px;
                top: -23px;
                right: -5px;
            }
        }
    }

    &-slide {
        @media(max-width: 1700px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        &__content {
            padding-top: 75px;
            max-width: 630px;
            position: relative;
            z-index: 1;
            padding-bottom: 100px;

            @media(max-width: 1199px) {
                padding-top: 0;
                padding-bottom: 40px;
            }
            @media(max-width: 575px){
               padding-bottom: 20px; 
            }

            p {
                margin-top: 27px;
                margin-bottom: 30px;
                line-height: 30px;
                max-width: 560px;
                @media(max-width: 991px){
                    line-height: 22px;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
            }
        }

        &__image {
            position: absolute;
            right: 0;
            top: 0;
            width: calc(100% - 455px);
            height: auto;

            // top: 50%;
            // transform: translateY(-50%);
            @media(max-width: 1700px) {
                position: unset;
            }

            @media(max-width: 1199px) {
                width: 100%;
            }
        }

        &__img-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-family: $font-family-title;
            color: $brown-color;
            font-size: 64px;
            line-height: 70px;
            letter-spacing: 3.2px;
            text-transform: uppercase;

            @media(max-width: 1199px) {
                font-size: 40px;
                line-height: 50px;
            }

            @media(max-width: 991px) {
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 1.6px;
                max-width: calc(100% - 150px);
                margin-left: unset;
                margin-right: auto;
            }

            &--lg {
                @media(max-width: 1700px) {
                    display: none;
                }
            }

            &--sm {
                display: none;

                @media(max-width: 1700px) {
                    display: block;
                    margin-top: 60px;
                    max-width: 800px;
                }

                @media(max-width: 1500px) {
                    margin-top: 30px;
                }
                @media(max-width: 991px){
                    max-width: calc(100% - 150px);
                    margin-left: unset;
                    margin-right: auto;
                }
            }
        }

        .btn-wrapper {
            margin-top: 40px;
            column-gap: 24px;
            @media(max-width: 991px){
                justify-content: space-between;
                column-gap: 10px;
            }

            .btn {
                @media(max-width: 991px) {
                    padding-right: 15px;
                    padding-left: 30px;
                    column-gap: 19px;
                    height: 68px;
                }

                span {
                    @media(max-width: 991px) {
                        font-size: 14px;
                    }
                }
            }

            @media(max-width: 991px) {
                margin-top: 22px;
            }
        }

        &__price {
            strong {
                font-size: 36px;
                line-height: 36px;

                @media(max-width: 991px) {
                    font-size: 30px;
                    line-height: 30px;
                }
            }

            span {
                font-size: 36px;
                font-weight: 200;
                @media(max-width: 991px){
                    font-size: 30px;
                    line-height: 30px;
                  }
            }
        }
    }

    &-flower {
        position: absolute;
        top: 0px;
        left: -220px;

        @media(max-width: 1700px) {
            display: none;
        }
    }
}