// Header
.header {
    position: absolute;
    // padding-top: 17px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    z-index: 2;
    &--linear {
        @media(max-width: 767px){
            height: 65px;
            background-color: #332E30;
        }
        .container {
            @media(max-width: 767px){
                position: absolute;
                z-index: 1;
               
            }
        }
        &::after {
            @media(max-width: 767px){
                background: linear-gradient(179deg, #332E30 1.72%, #332E30 40.72%, rgba(51, 46, 48, 0.70) 65.28%, rgba(51, 46, 48, .2) 80%, rgba(51, 46, 48, 0) 100%);
                content: '';
                position: absolute;
                width: 100%;
                height: 170px;
                top: 0;
                left: 0;
                z-index: 0;
            }      
        }
    }
   
   



    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        // align-items: center;
    }

    &__nav {
        padding-top: 39px;
        grid-column: 5 span;

        @media(max-width: 1199px) {
            padding-top: 10px;
            grid-column: 3 span;
        }

        @media(max-width: 767px) {
            padding-top: 8px;
        }


        &-list {
            display: flex;
            column-gap: 33px;

            @media(max-width: 1320px) {
                column-gap: 20px;
            }

            @media(max-width: 1199px) {
                display: none;
            }

            li {
                a {
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 14px;
                    transition: color .2s linear;

                    &:hover {
                        color: $brown-color;
                    }
                }
            }
        }
    }

    &__logo {
        grid-column: 2 span;
        padding-top: 17px;

        @media(max-width: 1199px) {
            padding-top: 13px;
            grid-column: 6 span;
        }

        img {
            width: 200px;
            margin-left: auto;
            margin-right: auto;

            @media(max-width: 991px) {
                width: 160px;
                min-width: 160px;
            }
        }
    }

    &__right {
        grid-column: 5 span;
        display: flex;
        justify-content: flex-end;

        // align-items: center;
        @media(max-width: 1199px) {
            grid-column: 3 span;
            padding-top: 10px;
        }

        @media(max-width: 767px) {
            padding-top: 8px;
        }
    }

    &__address {
        font-size: 16px;
        line-height: 26px;
        max-width: 152px;
        padding-top: 30px;
        margin-right: 88px;
        transition: color .2s linear;

        @media(max-width: 1320px) {
            margin-right: 50px;
            font-size: 15px;
        }

        @media(max-width: 1250px) {
            margin-right: 25px;
        }

        @media(max-width: 1199px) {
            display: none;
        }

        &:hover {
            color: $brown-color;
        }
    }

    &__action {
        display: flex;
        column-gap: 38px;
        // align-items: center;
    }

    &__phone {
        font-size: 24px;
        transition: color .2s linear;

        @media(max-width: 1250px) {
            font-size: 20px;
            text-align: end;
        }

        &:hover {
            color: $brown-color;
        }

        &-wrapper {
            padding-top: 30px;

            @media(max-width: 1199px) {
                display: none;
            }
        }
    }

    &__social {
        color: #D0B5A9;
        font-size: 15px;
        transition: color .2s linear;

        @media(max-width: 1250px) {
            font-size: 14px;
        }

        &:hover {
            color: $white-color;
        }
    }
}

.header-main .header__social {
    color: $brown-dark-color;
}

.header-main {
    @media(max-width: 767px) {
        background-color: transparent;
    }
}

.catalog-modal {
    position: fixed;
    padding-bottom: 80px;
    left: 0;
    top: 0;
    background-color: #231F20;
    z-index: 3;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: none;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
        display: block;
        -webkit-animation: shows 0.5s;
        animation: shows 0.5s;
    }

    .price-item__img {
        fill: #57565C;
    }

    .header__wrapper {
        align-items: center;
    }

    .price-param {
        color: #9EA6B3;
    }

    .price-item {
        align-items: flex-end;
    }

    .price-item__link .btn-arrow-wrapper {
        background: rgba(255, 255, 255, 0.04);
    }

    .header__nav {
        grid-column: 6 span;
    }

    .header__right {
        grid-column: 6 span;
        align-items: center;
    }

    .header__social {
        color: #91614A;
    }

    .header__map-link {
        color: #91614A;
        margin-right: 45px;
        text-align: end;
    }

    .header__nav-list {
        column-gap: 30px;

        a {
            color: #fff;
        }
    }

    .price__list {
        padding-top: 50px;
    }

    .header__phone-wrapper {
        padding-top: 0;
    }

    .header__address {
        color: #fff;
        padding-top: 0;
        margin-right: 40px;
        max-width: unset;
    }

    .header__action {
        align-items: center;
    }

    .header__phone {
        color: #fff;
    }

    .header__nav {
        padding-bottom: 39px;
    }

    .header__btn-catalog {
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        height: 84px;
    }
}

.catalog-header-wrapper {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(90deg, #57565C -0.25%, rgba(87, 86, 92, 0.00) 100%);
        width: calc(100% - (100% - 1440px) / 2);
        height: 1px;
    }
}


@-webkit-keyframes shows {
    from {
        -webkit-transform: translateY(-100vh);
        transform: translateY(-100vh);
    }

    to {

        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes shows {
    from {

        -webkit-transform: translateY(-100vh);
        transform: translateY(-100vh);
    }

    to {

        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.menu-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: scroll;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    background-color: #231F20;
    padding-bottom: 100px;
    .header__wrapper {
        position: fixed;
        width: calc(100% - 24px);
        left: 12px;
        right: 12px;
        background-color: #231F20;
    }

    &.active {
        display: block;
        opacity: 1;
        visibility: visible;
        -webkit-animation: shows 0.5s;
        animation: shows 0.5s;
    }
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name {
        color: #fff;
        text-transform: uppercase;
        font-weight: 200;
    }
}

.menu-item__button {
    background: url('@img/icons/btn-menu.svg') no-repeat center center / contain;
    width: 42px;
    height: 42px;
}

.menu-modal-head {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(209, 213, 219, 0.12);
}

.menu-modal-item {
    color: #fff;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 40px;
}

.menu-modal-footer {
    border-top: 1px solid rgba(209, 213, 219, 0.12);
    padding-top: 30px;
}

.menu-contacts-map {
    color: #91614A;
    font-size: 15px;
    font-weight: 200;
    margin-top: 3px;
}

.menu-contacts {
    margin-bottom: 22px;
}

.menu-contacts__phone {
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    margin-bottom: 1px;
}

.menu-contacts__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-contacts-day {
    color: #9F694F;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.13px;
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.menu-contacts__address {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}

.menu-modal-content {
    padding-top: 55px;
    display: none;

    &.active {
        display: block;
    }
}

.menu-services {
    display: none;
    padding-top: 55px;

    &.active {
        display: block;
    }
}

.menu-services__head {
    padding-top: 35px;
}

.menu-back {
    color: #9F694F;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    padding-left: 50px;
    background: url('@img/icons/arrow-left.svg') no-repeat left center / 36px;
}
.menu-services__content {
    padding-top: 20px;
}
.menu-services__item {
    margin-bottom: 16px;
}
.menu-services__list {
    .sub-menu {
        position: fixed;
        width: 100%;
        height: calc(100% - 50px);
        top: 58px;
        padding-top: 85px;
        padding-bottom: 50px;
        background-color: #231F20;
        display: none;
        visibility: hidden;
        opacity: 0;
        overflow-y: scroll;
        &.active {
            display: block;
            visibility: visible;
            opacity: 1;
        }
        li {
            margin-bottom: 16px;
        }
    }
}
.menu-back--service{
    position: absolute;
    top: 32px;
}
.menu-socials__item{
    background-color: #2C2829;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #9ea6b363;

    img {
        width: 32px;
    }
    position: relative;
    &::after {

    }
}