.intro-main {
    padding-top: 0;
    padding-bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media(max-width: 991px) {
        background-position: center;
    }

    .title-wrapper {
        position: relative;
        bottom: 22px;

        @media(max-width: 991px) {
            bottom: 15px;
        }

    }
    &__wrapper {
        z-index: 2;
        position: relative;
    
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(35, 31, 32, 0.60);
    }

    &__title {
        font-size: 131px;
        line-height: 131px;
        font-family: $font-family-title;
        display: flex;
        align-items: center;
        column-gap: 5px;
        position: relative;

        img {
            width: 1200px;

            @media(max-width: 1500px) {
                width: 950px;
            }

            @media(max-width: 1199px) {
                width: 600px;
            }

            @media(max-width: 991px) {
                width: 420px;
            }
        }


        img {
            &:first-child {
                position: relative;
                top: 13px;

                @media(max-width: 991px) {}
            }
        }
    }

    &__rate {
        column-gap: 12px;
        @media(max-width: 991px){
            margin-bottom: 10px;
        }

        &>img {
            @media(max-width: 1199px) {
               width: 210px;
            }        
        }

        &-name {
            max-width: 223px;

            @media(max-width: 1199px) {
                max-width: 170px;
            }
            @media(max-width: 575px){
                max-width: 156px;
            }
        }

        span {
            @media(max-width: 1199px) {
                font-size: 16px;
            }
        }
    }

    &__descr {
        &-wrapper {
            position: relative;
            bottom: 22px;

            @media(max-width: 991px) {
                bottom: 7px;
            }

            p {
                font-size: 64px;
                line-height: 82px;
                font-weight: 200;
                color: #fff;
                display: initial;

                @media(max-width: 1500px) {
                    font-size: 40px;
                    line-height: 50px;
                    max-width: 640px;
                    display: block;
                }

                @media(max-width: 1199px) {
                    font-size: 32px;
                    line-height: 40px;
                }

                @media(max-width: 991px) {
                    font-size: 22px;
                    line-height: 30px;
                    max-width: 350px;
                    margin-top: 10px;
                }
            }

            .btn {
                display: inline-flex;
                position: relative;
                bottom: 12px;

                @media(max-width: 1500px) {
                    bottom: 0;
                    margin-top: 10px;
                }
                @media(max-width: 450px){
                    max-width: 230px;
                }
            }
        }
    }

    .container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100vh;
        padding-bottom: 95px;

        @media(max-width: 1500px) {
            padding-bottom: 20px;
        }
        @media(max-width: 991px){
            padding-bottom: 70px;
            min-height: unset;
            padding-top: 337px!important;
        }
    }
}


.video-text-btn__arrow {
    svg {
        fill: #9F694F;
        width: 26px;
        height: 24px;
        @media(max-width: 991px){
            width: 15px;
            height: 17px;
        }
    }
}

.video-text-btn__content {
    animation-name: rotate;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
}

.intro-main__video-btn {
    width: 155px;
    min-width: 155px;
    height: 155px;
    position: relative;
    background: url('@img/intro/bg-btn.svg') no-repeat center center / cover;
    position: relative;
    bottom: -5px;
    margin-left: 20px;
    font-family: $font-family;
    right: 200px;

    @media(max-width: 1500px) {
        right: 178px;
    }

    @media(max-width: 1199px) {
        right: 122px;
    }

    @media(max-width: 991px) {
        position: relative;
        right: unset;
        width: 100px;
        height: 100px;
        min-width: 100px;
        margin-left: 9px;
    }
    @media(max-width: 374px){
        width: 66px;
        height: 66px;
        min-width: 66px;
    }
}


.video-text-btn__content {
    font-weight: 300;
    

    &>div {
        &>span:first-child {
            padding-left: 3px;
        }
    }
    img {
        @media(max-width: 991px){
            width: 87px;
        }
        @media(max-width: 374px){
            width: 58px;
        }
    }
}

.video-text-btn__arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.08);
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @media(max-width: 991px){
        width: 44px;
        height: 44px;
    }
    @media(max-width: 374px){
        width: 32px;height: 32px;
    }

    svg {
        position: relative;
        left: 3px;
    }
}

.intro-rate--sm {
    span {
        font-size: 16px;
        line-height: 16px;
    }

    &>img {
        width: 73px;
    }

    .intro-main__rate-name {
        width: 150px;
    }
}

.intro-service {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
    padding-top: 0;
    .intro-main__rate {
        @media(max-width: 1199px){
            display: none!important;
        }
    }
    .page-title {
        max-width: 680px;
        @media(max-width: 991px){
            margin-bottom: 8px;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: radial-gradient(48.98% 54.97% at 70.36% 48.94%, rgba(35, 31, 32, 0.00) 0%, rgba(35, 31, 32, 0.35) 0%, rgba(35, 31, 32, 0.10) 0.01%, rgba(35, 31, 32, 0.68) 100%);
    }

    .intro-footer {
        margin-top: 35px;
    }
}

.intro-doctor {
    padding-top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 0;
    background-position: center;
    overflow: hidden;
    @media(max-width: 991px){
       
    }

    .container {
        position: relative;
        z-index: 1;
        padding-bottom: 90px;
        min-height: 791px;
        @media(max-width: 991px){
            flex-direction: column-reverse;
            display: flex;
            padding-bottom: 50px;
        }
    }

    .intro-footer {
        margin-top: 100px;
        align-items: center;
        position: relative;
        z-index: 1;
        @media(max-width: 991px){
            margin-top: 25px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(35, 31, 32, 0.80) 8.05%, rgba(35, 31, 32, 0.31) 25.04%, rgba(35, 31, 32, 0.31) 67.83%, rgba(35, 31, 32, 0.80) 93.72%);
        @media(max-width: 991px){
            background: url('@img/intro/linear-intro.svg') no-repeat center center / cover;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(35, 31, 32, 0.68);
    }
}

.intro-doctor .page-descr {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    @media(max-width: 991px){
        margin-top: 18px;
        font-size: 16px;
        line-height: 26px;
    }
}

.intro-doctor__title {
    font-family: $font-family;
    color: #fff;
    font-size: 48px;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 1.44px;
    text-transform: unset;
    margin-bottom: 13px;
    @media(max-width: 991px){
        font-size: 25px;
        line-height: 31px;
        letter-spacing: 0.75px;
    }

    span {
        display: block;
        color: #9F694F;
        font-weight: 600;
    }
}

.intro-doctor__param {
    color: $gray-color;
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 20px;
    @media(max-width: 991px){
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.intro-doctor__image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    @media(max-width: 991px){
        position: unset;
    }
}

.intro-contacts {
    padding-top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 120px;
    background-position: center;
    z-index: 1;
    @media(max-width: 767px){
        padding-bottom: 50px;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: radial-gradient(84.51% 36.11% at 78.54% 82.32%, rgba(35, 31, 32, 0.17) 0%, rgba(35, 31, 32, 0.10) 0.01%, rgba(35, 31, 32, 0.70) 100%);
    }

    .intro-footer {
        margin-top: 55px;
        @media(max-width: 575px){
            margin-top: 200px;
        }
    }
}

.intro-about {
    z-index: 1;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    @media(max-width: 767px){
        background-position: top 65px right -67px;
        background-size: 700px;
        background-color: #393638;
    }

    .page-descr {
        font-size: 22px;
        line-height: 34px;
        @media(max-width: 767px){
            font-size: 17px;
            line-height: 28px;
        }

        span {
            color: #D0B5A9;
        }
    }
    .intro-main__rate {
        @media(max-width: 991px){
            margin-top: 200px;
        }
    }

    .intro-footer {
        margin-top: 90px;
        @media(max-width: 767px){
            margin-top: 24px;
        }
    }
    &::before {
        @media(max-width: 991px){
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url('@img/intro/linear-intro.svg') no-repeat center center/cover;

        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: radial-gradient(48.7% 60.84% at 70.36% 48.94%, rgba(35, 31, 32, 0.35) 0%, rgba(35, 31, 32, 0.10) 0.01%, rgba(35, 31, 32, 0.64) 100%);
    }

}

.intro-prices {
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    @media(max-width: 767px){
        padding-bottom: 50px;
        background-position: right -348px center;
    }
    &::before {
        @media(max-width: 991px){
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url('@img/intro/linear-intro.svg') no-repeat center center/cover;
        }
    }

    .page-title {
        @media(max-width: 767px){
            margin-bottom: 175px;
        }
    }
    &__descr {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.65);
        max-width: 240px;
        line-height: 18px;
    }

    .page-descr {
        font-size: 22px;
        max-width: 513px;
        padding-bottom: 35px;
        border-bottom: 1px solid #57565C;
        margin-bottom: 40px;
        @media(max-width: 767px){
            font-size: 17px;
            line-height: 22px;
            max-width: 350px;
            margin-bottom: 28px;
            padding-bottom: 28px;
        }
    }

    .cards {
        display: flex;
        column-gap: 9px;
    }

    .intro-footer {
        width: 100%;
        max-width: 513px;

        &>div {
            width: 100%;
        }
    }
}
.intro-doctor__image-wrapper {
    &::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -200px;
        width: 200%;
        height: calc(100% + 500px);
        background: url('@img/intro/linear-intro.svg') no-repeat center center/cover;
    }
    @media(max-width: 991px){
        position: relative;
        margin-top: -50px;
       
    }
}
