.invite {
    position: relative;
    padding-bottom: 0;
    .container {
        position: relative;
        z-index: 1;
    }
    .section-title {
        max-width: 1300px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    &__left {
        grid-column: 5 span;
        padding-top: 40px;
    }

    &__right {
        grid-column: 7 span;
        display: flex;
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: 29px;
        margin-bottom: 40px;

        &-title {
            font-family: $font-family-title;
            margin-bottom: 11px;
            font-size: 32px;
            color: $brown-color;
            letter-spacing: 1.6px;
        }

        &-num {
            font-size: 20px;
            font-family: $font-family-title;
            letter-spacing: 0.8px;
            border-radius: 10px;
            border: 0.5px solid rgba(158, 166, 179, 0.70);
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 47px;
            height: 73px;
            min-width: 47px;
        }
        &-content {
            padding-top: 10px;
        }
    }
    .flower {
        position: absolute;
        left: 0;
        top: 150px;
    }
}
.invite-bg--brown {
    position: absolute;
    right: 0;
    bottom: 0;
}