.order {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media(max-width: 1600px) {
        background-position: center;
    }

    @media(max-width: 991px) {
        background-position: right -150px top 81px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url('@img/order/radial.svg') no-repeat center center / cover;

        @media(max-width: 991px) {
            background: linear-gradient(179deg, #231F20 18.85%, rgba(35, 31, 32, 0.46) 25.95%, rgba(35, 31, 32, 0.00) 33.45%, rgba(35, 31, 32, 0.00) 74.89%, #231F20 100%);
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__content {
        max-width: 900px;
    }

    .section-title {
        margin-bottom: 55px;

        @media(max-width: 1199px) {
            max-width: 530px;
            margin-bottom: 30px;
        }
    }

    &-form {
        max-width: 575px;
        width: 575px;

        &__wrapper {
            display: flex;
            column-gap: 80px;
            align-items: center;

            @media(max-width: 991px) {
                padding-bottom: 150px;
            }

        }

        .agreement {
            display: flex;
            column-gap: 9px;
            color: #9EA6B3;
            font-size: 12px;
            letter-spacing: 0.12px;
            margin-top: 20px;
            padding-left: 45px;
            position: relative;
            font-weight: 200;

            @media(max-width: 991px) {
                padding-left: 25px;
            }

            @media(max-width: 767px) {
                flex-direction: column;

            }

            &::before {
                content: '';
                position: absolute;
                background: url('@img/icons/star.svg') no-repeat center center / 20px;
                width: 20px;
                height: 20px;
                left: 20px;
                top: 3px;

                @media(max-width: 991px) {
                    left: 0;
                }
            }

            a {
                color: #9F694F;
                font-size: 12px;
                text-decoration-line: underline;
                display: inline-block;

                @media(max-width: 991px) {
                    line-height: 12px;
                }
            }
        }
    }

    .flower {
        position: absolute;
        right: 0;
        top: -220px;
        z-index: 1;

        @media(max-width: 1500px) {
            width: 170px;
            top: -200px;
        }

        @media(max-width: 991px) {
            width: 89px;
            top: -118px;
        }
        @media(max-width: 767px){
            display: none;
        }
    }

    .line--top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(85%, rgba(255, 255, 255, 0.15057773109243695)), to(rgba(255, 255, 255, 0.14861694677871145)));
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15057773109243695) 85%, rgba(255, 255, 255, 0.14861694677871145) 100%);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15057773109243695) 85%, rgba(255, 255, 255, 0.14861694677871145) 100%);
    }

    .line--bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(73%, rgba(255, 255, 255, 0.15057773109243695)), to(rgba(255, 255, 255, 0.24861694677871145)));
        background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15057773109243695) 73%, rgba(255, 255, 255, 0.24861694677871145) 100%);
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15057773109243695) 73%, rgba(255, 255, 255, 0.24861694677871145) 100%);
    }

    .line--left {
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(73%, rgba(255, 255, 255, 0.15057773109243695)), to(rgba(255, 255, 255, 0.24861694677871145)));
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15057773109243695) 73%, rgba(255, 255, 255, 0.24861694677871145) 100%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15057773109243695) 73%, rgba(255, 255, 255, 0.24861694677871145) 100%);
    }

    .line--right {
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(73%, rgba(255, 255, 255, 0.15057773109243695)), to(rgba(255, 255, 255, 0.24861694677871145)));
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15057773109243695) 73%, rgba(255, 255, 255, 0.24861694677871145) 100%);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15057773109243695) 73%, rgba(255, 255, 255, 0.24861694677871145) 100%);
    }
}

.order-contacts {
    display: flex;
    column-gap: 50px;
    align-items: center;
    margin-top: 55px;

    @media(max-width: 991px) {
        column-gap: 16px;
        margin-top: 30px;
    }

    &__phone {
        color: #9EA6B3;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 3px;
        transition: color .2s linear;

        @media(max-width: 991px) {
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.24px;
        }

        &:hover {
            color: $brown-color;
        }
    }

    &__time {
        color: #9F694F;
        font-size: 19px;
        letter-spacing: 0.19px;
        padding-left: 53px;
        position: relative;

        @media(max-width: 991px) {
            font-size: 13px;
            letter-spacing: 0.13px;
            padding-left: 21px;
            line-height: normal;
        }

        &::before {
            content: '';
            position: absolute;
            background: url('@img/icons/star.svg') no-repeat center center / 20px;
            width: 20px;
            height: 20px;
            left: 20px;
            top: 3px;

            @media(max-width: 991px) {
                left: 0;
                top: -5px;
            }
        }
    }
}

.order-dir {
    background: rgba(35, 31, 32, 0.25);
    backdrop-filter: blur(2px);
    max-width: 247px;
    padding: 21px;
    height: fit-content;
    position: relative;

    @media(max-width: 1199px) {
        bottom: -50px;
    }

    @media(max-width: 991px) {
        bottom: unset;
        padding-top: 14px;
        padding-right: 11px;
        padding-left: 7px;
        padding-bottom: 11px;
        max-width: 168px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &__name {
        color: #BD876D;
        text-align: right;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;

        @media(max-width: 991px) {
            font-weight: 200;
            font-size: 12px;
            line-height: 14px;
            max-width: 150px;
            margin-left: auto;
        }
    }

    &__text {
        color: #9EA6B3;
        text-align: right;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.72px;
        margin-top: 10px;

        @media(max-width: 991px) {
            font-size: 16px;
            font-weight: 200;
            line-height: 20px;
            letter-spacing: 0.48px;
        }
    }

    .round {
        position: absolute;
        top: -30px;
        right: -30px;
        width: 64px;
        height: 64px;
        background: url('@img/icons/round.svg') no-repeat center center / contain;

        @media(max-width: 991px) {
            top: unset;
            bottom: -30px;
            width: 32px;
            right: -14px;
        }
    }
}

.contacts-social--callback {
    height: 90px;
    padding-left: 21px;

    @media(max-width: 1199px) {
        flex-direction: row-reverse;
        width: 350px;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 20px;
        height: 75px;
    }

    @media(max-width: 767px) {
        width: 405px;
    }

    @media(max-width: 575px) {
        width: 100%;
    }

    .contacts-social__name {
        @media(max-width: 1199px) {
            text-transform: uppercase;
            font-size: 18px;
        }
    }

    .contacts-social__name span {
        @media(max-width: 1199px) {
            display: unset;
        }
    }

    &::before {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(6px);
        //   left: 1px;
        width: 91px;
        height: 90px;

        @media(max-width: 1199px) {
            width: 100%;
            height: 75px;
        }



    }

    &::after {
        border: 1px solid #9EA6B3;
        background: none;
        backdrop-filter: none;
        width: 92px;
        height: 92px;

        @media(max-width: 1199px) {
            width: 100%;
            height: 75px;
        }


    }

    .contacts-social__name {
        position: relative;
        bottom: 3px;
    }
}

.contacts-social--callback:focus {
    &:after {
        background: transparent;
    }

    &:before {
        background: transparent;
    }
}

.order--sm {
    background: #231F20;
    padding-top: 0;

    .order-form__wrapper {
        padding-bottom: 0;
    }
}

.order-doctor {
    &::after {
        @media(max-width: 991px) {
            background: none;
        }
    }

    @media(max-width: 991px) {
        background: #231F20;
        background-image: none !important;
    }

    @media(max-width: 991px) {
        .order-form__wrapper {
            padding-bottom: 0;
        }
    }

    .section-title {
        @media(max-width: 991px) {
            margin-bottom: 300px;
        }
    }
}

.order-image-wrapper {     
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    @media(max-width: 767px){
        width: 100%;
    }
    img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #231F20;
        background: linear-gradient(179deg, #231F20 18.85%, rgba(35, 31, 32, 0.46) 25.95%, rgba(35, 31, 32, 0.00) 33.45%, rgba(35, 31, 32, 0.00) 74.89%, #231F20 91.71%);
    }


    @media(max-width: 991px) {
        display: block;
    }

}

.order--bg-sm {
    @media(max-width: 767px){
        background-position: center;     
    }
}