.rating-area {
  overflow: hidden;

  margin-left: auto;
}

.rating-area:not(:checked)>input {
  display: none;
}

.rating-area:not(:checked)>label {
  float: right;
  width: 26px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.24);

}

.rating-area:not(:checked)>label:before {
  content: '★';
}

.rating-area>input:checked~label {
  color: #fff;

}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
  color: #fff;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
  color: #fff;
}

.rate-area>label:active {
  position: relative;
}


.reviews-form__rating {
  .rating-area:not(:checked)>label {
    width: fit-content;
    font-size: 60px;
    line-height: 60px;
    color: #CCC;
  }

  .rating-area>input:checked~label {
    color: #9F694F;

  }

  .rating-area:not(:checked)>label:hover,
  .rating-area:not(:checked)>label:hover~label {
    color: #9F694F;
  }

  .rating-area>input:checked+label:hover,
  .rating-area>input:checked+label:hover~label,
  .rating-area>input:checked~label:hover,
  .rating-area>input:checked~label:hover~label,
  .rating-area>label:hover~input:checked~label {
    color: #9F694F;
  }
}

.reviews-rating--sm {
  .rating-area:not(:checked)>label {
    width: fit-content;
    font-size: 20px;
    line-height: 20px;
    color: #CCC;
  }

  .rating-area>input:checked~label {
    color: #9F694F;

  }

  .rating-area:not(:checked)>label:hover,
  .rating-area:not(:checked)>label:hover~label {
    color: #9F694F;
  }

  .rating-area>input:checked+label:hover,
  .rating-area>input:checked+label:hover~label,
  .rating-area>input:checked~label:hover,
  .rating-area>input:checked~label:hover~label,
  .rating-area>label:hover~input:checked~label {
    color: #9F694F;
  }
}
.content-head__reviews-right {
  position: relative;
  z-index: 1;
}