.result {
    position: relative;
    overflow: hidden;

    .btn--short__text {
        max-width: 82px;
    }

    .nav-arrow {
        @media(max-width: 1700px) {
            top: calc(50% - 60px);
            width: 48px;
            height: 89px;
        }
        @media(max-width: 1199px){
            top: calc(50% - 90px);
        }
        @media(max-width: 767px){
            top: calc(50% - 105px);
        }
    }

    &__title {
        max-width: 1200px;

        @media(max-width: 575px) {
            padding-right: 20px;
        }
    }

    .tabs__content {
        margin-top: 10px;
    }

    .tabs__nav {
        @media(max-width: 767px) {
            column-gap: 10px;
        }
    }

    .nav-arrow--prev {
        @media(max-width: 1700px) {
            left: -9px;
        }
    }

    .nav-arrow--next {
        @media(max-width: 1700px) {
            right: -9px;
        }
    }

    .tabs__nav .tabs__nav-btn {
        @media(max-width: 767px) {
            white-space: unset;
            max-width: 120px;
            line-height: 17px;
            padding-left: 20px;
        }
    }

    .decor {
        position: absolute;
        right: 0;
        top: -106px;
        z-index: 0;

        @media(max-width: 1500px) {
            right: -120px;
        }

        @media(max-width: 991px) {
            right: -100px;
        }

        @media(max-width: 767px) {
            right: -18px;
            top: -37px;
        }
    }

    .tabs__content {

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% - 300px);
            left: 0;
            top: 215px;
            background: linear-gradient(0deg, #FBF8F3 0%, #FBF8F3 100%), #231F20;
            @media(max-width: 1700px){
                height: 100%;
            }
            @media(max-width: 767px) {
                box-shadow: none;
            }
        }
    }

    .reviews-star__btn {
        position: absolute;
        right: 63px;
        top: 62px;

        @media(max-width: 1700px) {
            position: unset;
            margin-bottom: 50px;
        }


    }
}

.comparison-slider {
    cursor: default;
    overflow: hidden;
    position: relative;
}

.comparison-slider>img {
    width: 100%;
    display: block;
    height: 540px;

    @media(max-width: 1920px) {
        height: auto;
    }
}


.comparison-slider__back {
    overflow: hidden;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.comparison-slider__back img {
    display: block;
    max-width: none;
    height: 100%;
    // width: 100%;
    object-fit: cover;
}

.comparison-slider__drag {
    cursor: e-resize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 122px;
    height: 57px;
    margin: -36px 0 0 -62px;
    // background: #DBB29E;
    border-radius: 50%;
    text-align: center;
    color: #fff;

    @media(max-width: 767px) {
        height: 47px;
    }

    img {
        @media(max-width: 767px) {
            height: 47px;


        }
    }
}

.comparison-slider__drag .ic {
    display: inline-block;
    font-size: 28px;
}

.comparison-slider__drag .ic-left {
    margin-right: 20px;
}

.comparison-slider__drag:before,
.comparison-slider__drag:after {
    content: "";
    cursor: default;
    display: block;
    position: absolute;
    width: 3px;
    left: 50%;
    margin-left: -1.5px;
    height: 10000px;
    background: #fff;
}

.comparison-slider__drag:before {
    top: 100%;
}

.comparison-slider__drag:after {
    bottom: 100%;
}

.comparison-slider__text {
    position: absolute;
    z-index: 10;
    bottom: 35px;
    font-weight: 500;
    font-size: 20px;
}

.comparison-slider__text._left {
    left: 35px;
}

.comparison-slider__text._right {
    right: 35px;
}

.result-slide__grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    @media(max-width: 767px){
        column-gap: 20px;
    }

}

.result-slide__content {
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 8 span;
    position: relative;

    @media(max-width: 1700px) {
        grid-column: 12 span;
        order: 1;
    }

    &::after {
        left: 31px;
        top: -7px;
        content: "";
        position: absolute;
        border-radius: 2px;
        border: 0px solid rgb(255, 255, 255);
        background: rgba(208, 181, 169, 0.27);
        box-shadow: rgba(158, 166, 179, 0.31) 0px 1px 58px 0px;
        width: calc(100% - 63px);
        height: calc(100% + 15px);
        z-index: -1;

        @media(max-width: 767px) {
            box-shadow: none;
        }
    }

    &::before {
        left: 40px;
        top: -12px;
        content: "";
        position: absolute;
        border-radius: 2px;
        border: 0px solid #FFF;
        background: rgba(208, 181, 169, 0.27);
        box-shadow: 0px 1px 58px 0px rgba(159, 105, 79, 0.22);
        width: calc(100% - 81px);
        height: calc(100% + 25px);
        z-index: -1;

        @media(max-width: 767px) {
            box-shadow: none;
        }
    }
}

.result-slider {
    width: 100%;
    padding: 70px 0 70px 0;

    @media(max-width: 1199px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    @media(max-width: 767px){
        padding-bottom: 25px;
    }
}

.result-slide__after {
    grid-column: 2 span;
    max-width: 157px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media(max-width: 1700px) {
        grid-column: 6 span;
        order: 3;
        margin-top: 25px;
    }
}

.result-slide__descr {
    color: #9EA6B3;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;

    /* 130% */
    @media(max-width: 1199px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.result-slide__title {
    font-family: $font-family-title;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 5px;

    @media(max-width: 1199px) {
        font-size: 20px;
        line-height: 30px;
    }
}

.result-slide__before {
    grid-column: 2 span;
    max-width: 157px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 1700px) {
        grid-column: 6 span;
        order: 2;
        margin-top: 25px;
    }
}

.result-cities {
    position: relative;
    z-index: 1;
    bottom: 24px;
    @media(max-width: 1700px){
        bottom: 44px;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        @media(max-width: 1700px){
            width: 160px;
        }
    }
}

.tabs-sect {
    position: relative;
    z-index: 2;
}

.result-button-hidden {
    .tabs__content {

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% - 125px);
            left: 0;
            top: 215px;
            background: linear-gradient(0deg, #FBF8F3 0%, #FBF8F3 100%), #231F20;
        }
    }
}

.result-slide__btn--lg {
    @media(max-width: 1700px) {
        display: none;
    }
}

.result-slide__btn--sm {
    display: none;
    .btn-arrow-wrapper {
        margin-right: unset!important;
        margin-left: unset!important;
    }

   

    @media(max-width: 1700px) {
        display: flex;
       justify-content: center;
    }
}