.intro-services {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 150px;
  background-position: right;
  overflow: hidden;


  @media(max-width: 767px) {
    background-position: top right;
    background-size: 1005px;
    background-color: #332E30;
    padding-top: 85px;

  }

  .page-title {
    @media(max-width: 767px) {
      margin-top: 175px;
    }
  }

  .container {
    position: relative;

    @media(max-width: 767px) {
      // padding-top: 250px!important;
    }
  }

  .intro-main__rate {
    @media(max-width: 1199px) {
      display: none !important;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: radial-gradient(48.98% 54.97% at 70.36% 48.94%, rgba(35, 31, 32, 0.35) 0%, rgba(35, 31, 32, 0.10) 0.01%, rgba(35, 31, 32, 0.74) 100%);

    @media(max-width: 767px) {
      // background-color: #332E30;
      background: rgba(35, 31, 32, 0.325);
    }

  }

  .intro-footer {
    margin-top: 65px;

    @media(max-width: 767px) {
      margin-top: 25px;
    }
  }
}

.service-about {
  position: relative;
  overflow: hidden;

  .flower {
    position: absolute;
    right: -20px;
    top: -50px;
    z-index: 0;

    @media(max-width: 1199px) {
      width: 200px;
    }

    @media(max-width: 767px) {
      width: 150px;
    }
  }
}

.service-about__title {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media(max-width: 991px) {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 35px;
  }
}

.service-about__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 55px;

  @media(max-width: 1199px) {
    column-gap: 25px;
  }

  .btn {
    column-gap: 32px;

    @media(max-width: 575px) {
      width: 100%;
    }
  }

  .btn-wrapper {
    @media(max-width: 575px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}

.service-about__img {
  grid-column: 5 span;
  width: 100%;
  height: 522px;
  object-fit: cover;

  @media(max-width: 1199px) {
    height: 300px;
  }

  @media(max-width: 991px) {
    grid-column: 12 span;
  }
}

.service-about__content {
  grid-column: 7 span;

  @media(max-width: 991px) {
    grid-column: 12 span;
    margin-top: 20px;
  }
}